body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente */
    margin: 0;
    padding: 0;
    background-color: #181818; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    animation: fadeIn 0.5s ease; /* Animación de entrada */
}
.header-container {
    background-color: #00b8b5; /* Color de fondo de la cabecera (azul) */
    padding: 20px 0;
    border-bottom: 8px solid #fff; /* Línea inferior */
    animation: slideInDown 0.5s ease; /* Animación de entrada */
}

header {
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center; /* Alineación vertical */
    justify-content: flex-start; /* Alineación a la izquierda */
    margin-left: 20px; /* Espacio a la izquierda */
    animation: none; /* Deshabilitar la animación */
}

.logo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.group-name {
    font-size: 2em;
    margin: 0;
    color: #fff; /* Texto blanco */
}

.welcome-text {
    margin: 50px auto;
    max-width: 800px; /* Ancho máximo */
    animation: fadeInUp 0.5s ease; /* Animación de entrada */
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente */
    color: #00b8b5; /* Color de texto */
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Botones */
.botones {
    display: flex;
    justify-content: center;
    gap: 20px;
    animation: fadeIn 0.5s ease; /* Animación de entrada */
}

button {
    font-size: 1.2em;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background-color: #04b40a; /* Verde */
    color: #fff; /* Texto blanco */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
}
button:hover {
    background-color: #005c05; /* Verde más oscuro al pasar el ratón */
    transform: translateY(-4px); /* Efecto de levantamiento */
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }

    .botones {
        flex-wrap: wrap;
    }

    button {
        font-size: 1em;
        padding: 10px 20px;
    }
}
/* Contenedor de la agenda */
.agenda-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    animation: slideInUp 0.5s ease; /* Animación de entrada */
}
/* Formulario de la agenda */
.agenda-form, .event-list {
    max-width: 400px;
}

.agenda-form {
    background-color: #00b8b5;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
    animation: slideInLeft 0.5s ease; /* Animación de entrada */
}

.agenda-form h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Esto garantiza que el padding no afecte el ancho total */
}
.input-group textarea {
    resize: vertical;
}

/* Lista de eventos */
.event-list li {
    margin-bottom: 20px;
    animation: slideInUp 0.5s ease; /* Animación de entrada */
}

.event-list .event-buttons {
    display: flex;
    justify-content: space-between;
    animation: slideInRight 0.5s ease; /* Animación de entrada */
}

.event-list .event-buttons button {
    width: 48%; /* Para dejar espacio entre los botones */
    padding: 10px 15px; /* Relleno */
    font-size: 1em; /* Tamaño de fuente */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra */
}

.event-list .event-buttons button:hover {
    background-color: #005c05; /* Verde más oscuro al pasar el ratón */
    transform: translateY(-2px); /* Efecto de levantamiento */
}
/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.modal-content {
    background-color: #00b8b5;
    margin: 20% auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    animation: slideInUp 0.5s ease; /* Animación de entrada */
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
